/* General body styling for dark theme */
body {
  font-family: Verdana;
  color: #f0f0f0; /* Light text color */
  background-color: #121212; /* Dark background color */
  font-size: 12px;
}

/* Table styling */
table.main {
  border: 1px solid #444;
  background-color: #1e1e1e; /* Darker table background */
}

table.section {
  border: 0;
  background-color: #1e1e1e;
  width: 100%;
  min-width: 150px; /* Minimum width for the table */
}

table.section tr.header {
  font-family: Verdana;
  color: #ffffff; /* White text for headers */
  font-size: 14px;
  background-color: #333333; /* Dark gray header background */
}

table.section tr.body {
  font-family: Verdana;
  color: #f0f0f0; /* Light text for body rows */
  font-size: 12px;
  background-color: #1e1e1e; /* Darker row background */
}

/* Specific table for sensors */
table.sensors {
  width: 100%;
  min-width: 150px; /* Minimum width for the table */
  background-color: #1e1e1e; /* Darker table background */
}

table.sensors tr.header {
  font-family: Verdana;
  color: #ffffff; /* White text for headers */
  font-size: 14px;
  background-color: #333333; /* Dark gray header background */
}

table.sensors tr.body {
  font-family: Verdana;
  color: #f0f0f0; /* Light text for body rows */
  font-size: 12px;
  background-color: #1e1e1e; /* Darker row background */
}

table.sensors td:nth-child(1) {
  width: 40%; /* Key column width */
}

table.sensors td:nth-child(2) {
  width: 60%; /* Value column width */
}

h1 {
  font-family: Verdana, sans-serif;
  color: #ffffff; /* White text for headings */
  font-size: 24px;
}

h2 {
  font-family: Verdana, sans-serif;
  color: #ffffff;
  font-size: 18px;
}

p {
  font-family: Verdana, sans-serif;
  color: #f0f0f0;
  font-size: 12px;
}

.table-container {
    display: inline-flex;
    justify-content: space-between; /* Ensures they stay in one row */
    gap: 5px; /* Adjust spacing between tables */
    width: 100%;
}

.refresh-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  font-size: 14px;
  height: 30px;
}

.refresh-button:hover {
  background-color: #0056b3;
}

.theme-toggle-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  font-size: 14px;
  height: 30px;
}

.theme-toggle-button:hover {
  background-color: #0056b3;
}

.btn-container {
  display: flex;
  vertical-align: middle;
}

.status-symbol {
  font-size: 13pt;
  color: white;
}