table.main {
  border: 1;
}

table.section {
  border: 0;
  width: 100%;
  min-width: 150px; /* Minimum width for the table */
}

table.section tr.header {
  font-family: Verdana;
  color: black;
  font-size: 14px;
  background-color: #C0C0C0;
}

table.section tr.body {
  font-family: Verdana;
  color: black;
  font-size: 12px;
}

/* Specific table for sensors */
table.sensors {
  width: 100%;
  min-width: 150px; /* Minimum width for the table */
}

table.sensors tr.header {
  font-family: Verdana;
  color: black;
  font-size: 14px;
  background-color: #C0C0C0;
}

table.sensors td:nth-child(1) {
  width: 40%; /* Key column width */
}

table.sensors td:nth-child(2) {
  width: 60%; /* Value column width */
}

h1 {
  font-family: Verdana;
  color: black;
  font-size: 24px;
}

h2 {
  font-family: Verdana;
  color: black;
  font-size: 18px;
}

p {
  font-family: Verdana;
  color: black;
  font-size: 12px;
}

body {
  font-family: Verdana;
  color: black;
  font-size: 12px;
}


@media (prefers-color-scheme: dark) {
  body {
    color: #f0f0f0;
    background-color: #121212;
  }
  table.main,
  table.section,
  table.sensors {
    background-color: #1e1e1e;
    border-color: #444;
  }
  table.section tr.header,
  table.sensors tr.header {
    color: #ffffff;
    background-color: #333333;
  }
  table.section tr.body,
  table.sensors tr.body {
    color: #f0f0f0;
    background-color: #1e1e1e;
  }
}

.table-container {
    display: inline-flex;
    justify-content: space-between; /* Ensures they stay in one row */
    gap: 5px; /* Adjust spacing between tables */
    width: 100%;
}

.refresh-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  font-size: 14px;
  height: 30px;
}

.refresh-button:hover {
  background-color: #0056b3;
}

.theme-toggle-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  font-size: 14px;
  height: 30px;
}

.theme-toggle-button:hover {
  background-color: #0056b3;
}

.btn-container {
  display: flex;
  vertical-align: middle;
}

.status-symbol {
  font-size: 13pt;
  color: white;
}